<mat-toolbar color="primary">
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="mat-button-wrapper">
    <a mat-button href="https://github.com/jrcasso/recruit-me/" matTooltip="See the underlying code!">
      <img src="../assets/github-circle-white-transparent.svg">&nbsp;GitHub
    </a>
    <a mat-button href="https://www.linkedin.com/in/justin-casso-329871196/" matTooltip="View my professional overveiw">
      <img src="../assets/linkedin-3-20.ico">&nbsp;LinkedIn
    </a>
  </span>
  <span class="center">
    RecruitMe (v0.1-a)
  </span>
  <span>
    <button mat-raised-button color="accent" routerLink="/register" routerLinkActive="active" matTooltip="It's quick and easy!">Create Account</button>
    <button mat-raised-button color="accent" routerLink="/login" routerLinkActive="active">Login</button>
  </span>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav-content class="center">
    <div class="main">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>

  <mat-sidenav #sidenav>
    <mat-nav-list role="list">
      <a mat-list-item routerLink="/welcome" routerLinkActive="active" (click)="sidenav.close()">
        Welcome
      </a>
      <mat-list-item role="listitem">
        <span>Contact</span>
      </mat-list-item>
      <mat-list-item role="listitem">Item 3</mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
</mat-sidenav-container>
