<mat-card class="welcome-card mat-elevation-z8">
  <mat-card-header>
    <div mat-card-avatar class="welcome-header-image"></div>
    <mat-card-title>Justin Casso</mat-card-title>
    <mat-card-subtitle>Welcome!</mat-card-subtitle>
  </mat-card-header>
  <!-- <img mat-card-image src="../../../assets/headshot.jpg" alt="Photo of Justin Casso"> -->
  <mat-card-content class="welcome-wrapper">
    <mat-divider></mat-divider>
    <div class="welcome-top">
      <h2>Reaching out to great candidates can be difficult, so I made it easy!</h2>
      Through my portal, you'll be able to contact me as well as learn about what I can bring to your organization.<br><br>
      <mat-divider></mat-divider>
    </div>
    <div class="welcome-content">
      <mat-tab-group>
        <mat-tab label="Introduction"> Content 1 </mat-tab>
        <mat-tab label="Specialites"> Specialites </mat-tab>
        <mat-tab label="Interests"> Interests </mat-tab>
        <mat-tab label="Contact"> Contact Information </mat-tab>
      </mat-tab-group>
    </div>
  </mat-card-content>
  <mat-card-actions class="welcome-center">
    <button mat-button><mat-icon>favorite</mat-icon>&nbsp;LIKE</button>
    <button mat-button><mat-icon>share</mat-icon>&nbsp;SHARE</button>
  </mat-card-actions>
</mat-card>