.welcome-header-image {
  background-image: url('https://avatars3.githubusercontent.com/u/22212703?s=460&u=dc2b593bc27603bceeac677d1e2fdcaac892a7a5&v=4');
  background-size: cover;
}

.welcome-card {
  text-align: left;
  max-width: 1000px;
  min-width: 700px;
}

.welcome-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.welcome-content {
  text-align: center;
  grid-area: 2 / 1 / 6 / 5;
}

.welcome-top {
  text-align: center;
  grid-area: 1 / 1 / 2 / 5;
}

.welcome-center {
  text-align: center;
}
