.grid-container-login {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "banner form-input form-input"
      "banner form-input form-input"
      "banner form-input form-input"
      "banner form-button form-button"
      "banner form-button form-button";
}
.banner { grid-area: banner; }
.form-input {
    grid-area: form-input;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.form-button {
    grid-area: form-button;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
